asyncio
beautifulsoup4
aiofiles
aiohttp
aioshutil
anytree
apscheduler
aioaria2
aioqbt
cinemagoer
cloudscraper
dnspython
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
langcodes
jinja2
lxml
mega.py
motor
natsort
par2cmdline-turbo
pillow
psutil
pycountry
pymongo
pyrofork==2.2.11
#pyrofork
python-magic
pytz
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity==9.1.4
tgcrypto
urllib3
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]
